body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

fieldset{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    background-color: aqua;
}
legend{
    font-size: 1.2em;
    font-weight: bold;
    border: thin solid black;
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    
}
.form-row, .check-row{
    display: flex;
    gap: 10px;
    margin-top:10px;
}

.form-row label{
    width: 150px;
    text-align: right;  
}

.spacer{
    width:150px;
    text-align: right;

}
input[type="text"], input[type="email"], input[type="number"],input[type="password"], input[type="tel"] {
    padding: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus, input[type="date"]:focus, input[type="tel"]:focus, input[type="number"]:focus {
    border-color: darkviolet;
    box-shadow: 0 0 5px rgba(135, 206, 235, 0.5);
    outline: none;
}
input[type="submit"] {
    font-size: 1em;
    padding: 10px 30px;
    background-color: #87CEEB; 
    border: none;
    border-radius: 5px; 
    width: 150px;
}

input[type="submit"]:hover {
    background-color: darkorchid;
}

@media only screen and (max-width: 600px) {
    .form-row{
        flex-direction: column;
    }
    .check-row{
        flex-direction: column;
    }
    .form-row label{
        width: auto;
        text-align: left;
    }
    .spacer{
        width: auto;
        text-align: left;
    }
    input[type="submit"]{
        margin-left: 150px;
    }
}